.collapsableTextBlock {
    /* Justere på grunn av animasjon */
    p {
        margin: 0 !important;
        padding-bottom: 1rem;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--faq {
        border-radius: 0.5rem;
        position: relative;
        margin-left: 3rem;
        &:before {
            content: '?';
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 1.2rem;
            width: 2rem;
            height: 2rem;
            position: absolute;
            background-color: #32414f;
            border-radius: 50%;
            background-size: 1.5rem;
            background-repeat: no-repeat;
            position: absolute;
            left: -3rem;
            top: -0.2rem;
        }
        .collapsableTextBlock {
            &__title {
                font-size: 1.2rem;
            }
            &__content {
                margin-top: 1rem;
                padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
                border-radius: 0.25rem;
                font-size: 1.1rem;
                background-color: #efefef;
                p:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    &--open {
        .collapsableTextBlock__content {
            padding-top: 1rem;
        }
    }
    &__toggler {
        .collapsableTextBlock__title {
            margin: 0;
            display: inline-block;
            font-weight: normal;
        }
    }
    &__content {
        > div > p:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    @media print {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
