.textblock {
    @remUnit: 16;
    &--step {
        padding-left: 2.5rem;
        position: relative;
        .typo-undertittel {
            font-size: 1.125rem;
        }
    }
    &__stepBullet {
        line-height: 0;
        position: absolute;
        left: 0;
        > svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
