@import './print.less';
@import './resetCss.less';
@import './formattedRichContent.less';
@import './test.less';

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
    @media print {
        background-color: white;
    }
}

ul,
ol {
    padding-left: 1.125rem;
}
