@import '../../../styles/variables.less';

.tabs {
    width: 100%;
    max-width: 100%;
    margin-top: 1.5rem;

    // &__tabs {
    //     margin-bottom: 1.5rem;
    //     position: relative;
    //     z-index: 3;
    // }

    &__tabTitle {
        margin-bottom: 1rem;
    }

    // @media (min-width: @tablet-breakpoint) {
    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 2rem;
        max-width: 100%;
        margin-bottom: 0.5rem;
    }
    // }
}
