@import '../../../styles/assets.less';

.tabs {
    width: 100%;
    max-width: 100%;
    position: relative;
    &--tabs {
        .tabs__selectWrapper {
            display: none;
        }
    }
    &--select {
        .tabs__tablistWrapper {
            display: none;
        }
    }

    &__title {
        font-size: 1.25rem !important;
        padding-top: 1rem;
        margin-bottom: 0.75rem;
        @media print {
            display: none;
            font-size: 1.25rem;
        }
    }

    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 2rem;
        max-width: 100%;
        margin-bottom: 1rem;
        @media print {
            display: none;
        }
    }
    &__select {
        margin-bottom: 1.5rem;
        @media print {
            display: none;
        }
    }
    &__panelTitle.typo-undertittel {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        @media print {
            padding-top: 1rem;
            display: block;
        }
    }
    &__panel {
        .overrideSectionPanelPadding();
        background-color: @c-tabs;
        border-radius: 0.5rem;
        @media (max-width: @mobile-breakpoint) {
            border-radius: 0;
        }
        @media screen {
            &--selected {
                display: block;
            }
            &--hidden {
                display: none;
            }
        }
        @media print {
            margin: 0 !important;
            background-color: white !important;
            padding: 0 !important;
        }
    }
}
