@import '../../../styles/assets.less';

.veilederpanel--rasmus  {
    @background: #dade99;
    .nav-veilederpanel  {
        background-color: @background;
        border: none;
        border-radius: 0;
        .overrideSectionPanelPadding();
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media (min-width: @mobile-breakpoint) {
            padding-top: 3.5rem;
            padding-bottom: 3rem;
            border-radius: 0.5rem;
        }
        @media (min-width: @tablet-breakpoint) {
            margin-left: 0;
            margin-right: 0;
            padding-top: 2rem;
            padding-bottom: 3rem;
            padding-left: 4rem;
        }
        &__content {
            font-size: 1.125rem;
            p {
                margin: 0;
            }
            p + p {
                margin-bottom: 1rem;
            }
        }
    }
    .nav-veileder__frame svg {
        width: 100%;
        height: 100%;
    }
}
