@import '../../../styles/assets.less';

.veilederpanel--rasmus  {
    @background: @c-theme-light;
    .nav-veilederpanel  {
        background-color: @background;
        border: none;
        border-radius: 0;
        .overrideSectionPanelPadding();
        padding-top: 4rem;
        padding-bottom: 3rem;
        .nav-veileder {
            margin-left: -2.5rem;
            .nav-veileder__frame--m {
                width: 5rem;
                height: 5rem;
            }
        }

        @media (min-width: @mobile-breakpoint) {
            padding-top: 4rem;
            padding-bottom: 3rem;
            border-radius: 0.5rem;
            .nav-veileder {
                margin-left: -3rem;
                .nav-veileder__frame--m {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        @media (min-width: @tablet-breakpoint) {
            margin-left: 0;
            margin-right: 0;
            padding-top: 2.5rem;
            padding-bottom: 3rem;
            padding-left: 4rem;
            .nav-veileder {
                margin-left: 0;
            }
        }
        @media print {
            background: none !important;
            padding: 0 !important;
            display: block;
            .nav-veileder {
                left: auto;
                position: relative;
                padding: 0;
                margin: 0 auto 2rem 0;
            }
        }

        &__content {
            font-size: 1.125rem;
            p {
                margin: 0;
            }
            p + p {
                margin-bottom: 1rem;
            }
        }
    }
    .nav-veileder__frame svg {
        width: 100%;
        height: 100%;
    }
}
